#users {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.usersItem {
    display: flex;
    align-items: center;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 20px;
}